<% layout('/layouts/boilerplate') %>

<div class="my-3">
    <h3 class="page-header mt-4 ms-3">Users</h3>
</div>

<div class="d-flex col-10 justify-content-between mx-3">
        <div class="">
            <a href="/users/form"><button class="btn btn-success"><i class="bi bi-person-add pe-3"></i>Register User</button></a>
        </div>
        <div class="d-flex justify-content-end mb-2">
            <select name="role" id="roleFilter" class="form-control w-25" required>
                <option value="" selected>All</option>
                <% for (let role of roles) { %>
                    <option value="<%= role %>"><%= role[0].toUpperCase() + role.slice(1) %></option>
                <% } %>
            
            <input type="text" class="form-control me-2"  id="searchInput">
        </div>  
</div>

<section class="d-flex mx-3" style="max-height:80vh;">
    <div class="col-10 overflow-auto">
        <table class="table table-striped border rounded-3">
            <thead>
                <tr>
                    <th class="text-success" style="width:15%;">Username</th>
                    <th class="text-success" style="width:20%;">First Name</th>
                    <th class="text-success" style="width:20%;">Last Name</th>
                    <th class="text-success" style="width:10%;">Type</th>
                    <th class="text-success" style="width:15%;"></th>        
                </tr>
            </thead>
            <tbody>
                <% for(let user of users) { %>
                <tr class="user-row">
                    <td class="align-middle user-userName" style="font-size:0.9em;"><%= textFormat(user.username)  %></td>
                    <td class="align-middle user-firstName" style="font-size:0.9em;"><%= textFormat(user.firstName)  %></td>
                    <td class="align-middle user-lastName" style="font-size:0.9em;"><%= textFormat(user.lastName)  %></td>
                    <td class="align-middle user-role" style="font-size:0.9em;"><%= textFormat(user.role)  %></td>
                    <td class="">
                        <div class="actions mx-0 d-flex align-middle">
                            <a href="/users/<%= user.id %>"><button class="btn btn-sm btn-light border border-success px-3 text-success" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="View"><i class="bi bi-eye"></i></button></a>
                            
                            <a href="/users/<%= user.id %>/edit"><button class="btn btn-sm btn-success ms-1" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="Edit"><i class="bi bi-pencil"></i></button></a>

                            <% if(currentUser && currentUser.role === 'admin') { %>
                                <form action="/users/<%= user.id %>/delete?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-light border border-danger text-danger ms-2" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                                </form>
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>