
<aside class="d-flex flex-column flex-shrink-0 p-0 min-vh-100 start-0 top-0 mb-auto sidebar col-2" >
    <div class=" mx-auto my-3 mb-4">
        <img src="https://ayungon.gov.ph/static/media/ayungonLogo.fc0153c16641062c3ae1.png" alt="logo" style="width: 100px;">
    </div>
    
        
        <ul class="nav nav-pills flex-column ms-0">
            <a href="/" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/' ? 'active' : '' %>"><i class="bi bi-laptop pe-2"></i>Dashboard</li></a>
            <a href="/employees" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/employees' ? 'active' : '' %>"><i class="bi bi-people pe-2"></i>Employee Profiles</li></a>
            <a href="/leave-management" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/leave-management' ? 'active' : '' %>"><i class="bi bi-calendar2-month pe-3"></i>Leave Management</li></a>
            <a href="/applications" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/applications' ? 'active' : '' %>"><i class="bi bi-layout-text-window pe-2"></i> Applications</li></a>
            <% if(currentUser && currentUser.role !== 'staff') { %>
            <a href="/reports" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/reports' ? 'active' : '' %>"><i class="bi bi-person-vcard pe-3"></i>User Logs</li></a>
            <% } %>
            <% if(currentUser && currentUser.role === 'admin') { %>
                <a href="/users" class="text-decoration-none"><li class="nav-item border-4 border-start border-light py-3 text-center <%- activePage === '/users' ? 'active' : '' %>"><i class="bi bi-person-check pe-3"></i>Users</li></a>      
            <% } %>
        </ul>
     
       
        <div class="d-flex fixed-bottom m-4" style="width:fit-content;">
            
            <div class="d-flex " >
                
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0aX49p2Q3ZJDmmhQl1aB1C3vJBfDhukMQPdaxiRAQyDwdauNY9dvV0CIqwYC1QsrAQj4&usqp=CAU" alt="bgfiller" 
                class="img-fluid rounded-circle bg-light shadow position-relative"
                style="height:50px;width:50px;">
    
                <% if (currentUser.uploadedImage && currentUser.uploadedImage.filename && currentUser.uploadedImage.contentType && currentUser.uploadedImage.data) { %>
                    <img src="data:<%= currentUser.uploadedImage.contentType %>;base64,<%= currentUser.uploadedImage.data.toString('base64') %>" alt=""
                         class="img-fluid rounded-circle bg-light shadow position-absolute"
                         style="height: 50px; width: 50px; object-fit: cover;"
                         onerror="this.style.display='none';">
                <% } %>
            </div>
            
            <div class="align-items-center mx-3">
                <div class="align-items-center mx-3">
                    <p class="mb-1"><%= textFormat(currentUser.firstName)%> <%= textFormat(currentUser.lastName)%></p>
                    <p class="mb-1" style="font-size:0.9em;"><%= textFormat(currentUser.role) %></p> 
                    <form class="d-flex align-items-center" action="/logout" method="POST">
                        <button class="btn btn-light border-0" type="submit">
                          <i class="bi bi-box-arrow-left pe-2"></i>Logout
                        </button>
                      </form>
                </div>
            </div>
        </div>
</aside>
